body {
  background-color: #1c1917;
  position:relative;
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
   position: relative;
  bottom: 0;
  
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 110px;
  background-color: #FFF5D0;
}


#avatar {
  width:250px;
  height: 250px;
    border-radius: 100%;
    border: solid rgb(255, 206, 133) 5px;
  
    }

.card  {
  display: inline;
}