.App {
  text-align: center;
}

body {
  background-color: #1c1917;
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 100px;
  background-color: #FFF5D0;
}

.card  {
  display: inline;
}
